@page "/todo"
@inject IJSRuntime jsRuntime

@using TodoList.Classes


<h1>Pending Todo (@todos.Count(t => !t.IsDone))</h1> @*t => !t.IsDone == false*@

<ul class="no-bullets">
	@foreach (var todo in todos)
	{
		<li class="mb-1">
			<input type="checkbox" @bind="todo.IsDone" />
			<input type="text" @bind="todo.Title" />
		</li>
	}
</ul>

<div class="mb-2">
	<input @ref="todoText" @onkeyup="@Enter" type="text" placeholder="Something todo" @bind="newTodo" required="required" />
	<button  @onclick="AddTodo">Add Todo</button>
	
	
</div>
<div class="mt-2">
	<span>Total Todo: @todos.Count</span>
</div>


@code {
	private const string EnterCode = "Enter";
	private List<TodoItem> todos = new();
	private string newTodo { get; set; }

	ElementReference todoText;


	private void AddTodo()
	{
		if (!string.IsNullOrWhiteSpace(newTodo))
		{
			todos.Add(new TodoItem{Title= newTodo});
			newTodo = string.Empty;

			//todoText.FocusAsync();

		}
	}

	private void Enter(KeyboardEventArgs e){
		if (e.Key == EnterCode)
		{
			AddTodo();
		}
	}

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
        { }
            await jsRuntime.InvokeVoidAsync("SetFocusToElement", todoText);
       
	}
}